:root {
    --bg-pagina: #dbdbdb;
    --bg-container: #FFF;
    --color-container: #101c1c;
    --big-input: #ffffff;
    --color-input: #000;
    --bg-button: #12852a;
    --color-button: #FFF;
    --bg-button-hover: #0c4819;
    --color-esqueceu-senha-houver: #000;
}

[data-tema="dark"]{
    --bg-pagina: #242323;
    --bg-container: #1a1919;
    --color-container: #FFF;
    --big-input: #2d2c2c;
    --color-input: #FFF;
    --bg-button: #2d2c1c;
    --color-button: #CCC;
    --bg-button-hover: #3c3a3a;
    --color-esqueceu-senha-houver: #CCC;
    transition: all 1.3s;
}
body {
    font-family: "Jaro", sans-serif;
   background: var(--bg-pagina);
   transition: all 1.3s;
}

.container {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 340px;
    padding: 2rem;
    background: var(--bg-container);
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--color-container);
}

h1 {
    margin-bottom: 0.5rem;
    text-align: center;

}

hr {
    border: 2px solid #3d3e3c;
}

form {
    width: 100%;
    margin-top: 25px;
}

.frm-linha {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.frm-linha label, .frm-linha input {
    font-size: 1.2rem;
}

.frm-linha label {
    margin-bottom: 7px;
}

.frm-linha input {
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #191818;
    background: var(--big-input);
    color: var(--color-input)
}

.frm-linha button {
    background: var(--bg-button);
    border: 1px solid #191818;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: var(--color-button);
    cursor: pointer;
    height: 50px;
    font-size: 1.3rem;
    outline: none;
    transition: all 1s;
}

.frm-linha button:hover {
    background: var(--bg-button-hover);
    transition: all 1s;
}

div.esqueceu-senha {
    text-align: right;
    margin-top: 5px;
}

div.esqueceu-senha a {
    text-align: none;
    color: #939393;
}

div.esqueceu-senha a:hover {
    color: var(--color-esqueceu-senha-houver);
}

.config {
    color: var(--color-input);
}